@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .defaultTransitionCSS {
    @apply transition-all ease-in-out duration-500;
  }

  .buttonTransitionCSS {
    @apply hover:bg-primary-4 hover:text-primary-1 transition-all ease-in-out duration-500;
  }

  .max-width {
    @apply max-w-[1440px] sm:px-10 px-4 mx-auto;
  }

  .titleCSS {
    @apply lg:text-7xl md:text-6xl sm:text-5xl text-3xl text-center uppercase font-extrabold;
  }

  .titleDropShadowCSS {
    @apply text-primary-3 drop-shadow-[0_1px_1px_rgba(0,171,240,1)];
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #1D1E2C;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide ScrollBar */
body::-webkit-scrollbar {
  display: none;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* spricing layout page scroll bar */
.pricing-layout-page::-webkit-scrollbar {
  height: 0px; /* height of the entire scrollbar */
}

.pricing-layout-page::-webkit-scrollbar-track {
  background: #24263A;  /* color of the tracking area */
}

.pricing-layout-page::-webkit-scrollbar-thumb {
  background-color: #FBEDCA;  /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 3px solid #00ABF0;  /* creates padding around scroll thumb */
}

/* Features section animation */
#features section {
  position: relative;
  animation: pricingL2R;
  animation-timeline: view(auto auto);
  animation-fill-mode: forwards;
}

@keyframes pricingL2R {
  0% {
    opacity: 0;
    left: -250px;
  } 
  25% {
    opacity: 1;
    left: 0;
  }
}

/* Blur component animation */
.blurToView {
  animation: blurToViewAnimation;
  animation-timeline: view(auto auto);
}

@keyframes blurToViewAnimation {
  0% {
    filter: blur(4px);
  }
  25% {
    filter: blur(0px);
  }
}